@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
    font-family: "Open Sans", sans-serif;
}

#notifs {
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 84.3%;
    transform: translate(-50%, -50%);
    padding: 1.3rem;
    width: 37rem;
}
